h1 {
    color : #f00;
}

#title {
    font-size: 350%;
    float: top;
    margin-left:35%;
    font-family: algerian, courier;
}

#footnote {
    float: bottom;
    margin-left:43%;
}

#logo {
    float:top;
    margin-left:35%;
}


#parkingMap {
    display:block;
}

.loginButtons {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left:43%;
    height:50px;
    width:120px;
}

.button {
    background: #666666;
    padding: 6px;
    border: 2px solid #000000;
    color: #ffffff;
    font-weight: bold;
    margin-left:20%;
    height:30px;
    width:80px;
}

.button2 {
    background: #666666;
    padding: 6px;
    border: 2px solid #000000;
    color: #ffffff;
    font-weight: bold;
    margin-left:10%;
    height:30px;
    width:80px;
}

.button3 {
    background: #666666;
    padding: 6px;
    border: 2px solid #000000;
    color: #ffffff;
    font-weight: bold;
    margin-left:46%;
    height:30px;
    width:120px;
}


#cuh2 {
     margin-left:-5%;
     font-family: algerian, courier;
 }

#cuh {
    margin-left:-40%;
    font-family: algerian, courier;
}

.fieldSection2 {
    float: bottom;
    margin-left:31%;
}

.fieldSection {
    float: bottom;
    margin-left:30%;
}

.newUserBox {
    border: 0;
    margin: 0;
    padding: 25px;
    background : #f1f1f1;
    width: 350px;
    margin-left:38%;
}


.Box {
    border: 0;
    margin: 0;
    padding: 25px;
    background : #f1f1f1;
    width: 350px;
    margin-left:38%;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#newAccMsg {
    font-family: algerian, courier;
    font: bold;
    color: red;
    margin-left:-15%;
}

#deleteAccMsg {
    font-family: algerian, courier;
    font: bold;
    color: red;
    margin-left:-15%;
}

#bookingExistMsg {
    font-family: algerian, courier;
    font: bold;
    color: red;
    margin-left:-15%;
}

#newSpaceMsg {
    font-family: algerian, courier;
    font: bold;
    color: red;
    margin-left:-15%;
}

#userLogin {
    margin-left:43%;
}

#userPassword {
    margin-left:43%;
}

#ruleTxt {
    margin-left:35%;
    font-family: algerian, courier;
}



#ruleTxtBold {
    margin-left:35%;
    font-family: algerian, courier;
    font: bold;
    font-size: 23px;
}

#welcomeMsg {
    margin-left:35%;
    font-family: algerian, courier;
}

#bookingMsg {
    margin-left:38%;
    font-family: algerian, courier;
}

#bookingMsg2 {
    margin-left:50%;
    font-family: algerian, courier;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: algerian, courier;
}

th, td {
    padding: 15px;
}

#accountListT {
    margin-left:31%;
}

caption {
    font-size: 40px;
    color: #818181;
}

#spaceListT {
    margin-left:41%;
}

#spaceBListT {
    margin-left:46%;
}

#spaceFListT {
    margin-left:46%;
}

#spaceFreeList {
    margin-left:49%;
}

#cb {
    margin-left:-20%;
    font-family: algerian, courier;
}


table {
    border: 0.01px solid #CCC;
    border-collapse: collapse;
}

td {
    border: none;
}

.gallery__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

