<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
</head>
<body>

<div class="sidenav">
    <br>
    <br>
    <a th:href="@{/booking(id=${model.id})}" href="profile.html?id=userId">Profile</a>
    <br>
    <a href="#">Bookings</a>
    <br>
    <a href="#">Map</a>
    <br>
    <a href="#">Help</a>
    <br>
    <a href="#">Logout</a>
    <br>
</div>

<p id="title">WoodMac Parking</p>

<p id="bookingMsg"> You have booked a space with following ID: <span th:text="${model.space}">username</span>
</p>
<br>


<p id="footnote">
    <br />
    Copright &copy; - Michal Dobiezynski   2019
</p>
</body>

</html>