<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
    <script>
        function checkForm() {
            var str = document.getElementById("bookingMsg");

            document.getElementById("SpaceId").style.display = "none";
            document.getElementById("bookingSpaceUser").style.display = "none";

            if (str.innerText == "You don't have a booking.") {
                document.getElementById("deleteButton").style.display = 'none';
                document.getElementById("bookingMsg2").style.display = 'none';


            }
        }

    </script>
</head>
<body onload="checkForm()">

<div class="sidenav">
    <br>
    <br>
    <a href="#">Profile</a>
    <br>
    <a href="#">Bookings</a>
    <br>
    <a href="#">Map</a>
    <br>
    <a href="#">Help</a>
    <br>
    <a href="#">Logout</a>
    <br>
</div>

<p id="title">WoodMac Parking</p>

<form th:action="@{/bookings/delete/{id}(id=${bookingId})}" th:method="delete">

    <p id="bookingMsg"> <span th:text="${message}"> message </span> </p> <p id="bookingMsg2"> <span th:text="${space}">username</span>
</p>
<br>

<input id="deleteButton" type="submit" value="Delete booking" class="button3" />

    <br>
    <br>
<!--    <select id="SpaceId" name="SpaceId" th:field="${booking.space}">-->
<!--        <option th:value="${space}" selected="selected" >Space</option>-->
<!--        <option th:text="${space}"-->
<!--                th:value="${space}" value="XXX">space</option>-->
<!--    </select>-->

<!--    <select id="bookingSpaceUser" name="bookingSpaceUser" th:field="${booking.user}">-->
<!--        <option th:value="${id}" selected="selected" >User</option>-->
<!--        <option th:text="${id}"-->
<!--                th:value="${id}" value="XXX">space</option>-->
<!--    </select>-->

</form>

<p id="footnote">
    <br />
    Copright &copy; - Michal Dobiezynski   2019
</p>



</body>

</html>