<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
</head>
<body>

<div class="sidenav">
    <br>
    <br>
    <a href="#">About</a>
    <br>
    <a href="#">Services</a>
    <br>
    <a href="#">Clients</a>
    <br>
    <a href="#">Contact</a>
    <br>
</div>

<p id="title">WoodMac Parking</p>

<form>
    <div class="newUserBox">

        <div class="fieldSection">
            <h2 id="cuh2">Create account</h2>
            <br>
            <br>
            <input type="text" name="username" id="username" placeholder="Username" required="required"/>
            <br>
            <br>
            <input type="text" name="pass1" id="pass1" placeholder="Password" required="required"/>
            <br>
            <br>
            <input type="text" name="firstname" id="firstname" placeholder="First name" required="required" />
            <br>
            <br>
            <input type="text" name="secondname" id="secondname" placeholder="Second name" required="required" />
            <br>
            <br>
            <input type="text" name="email" id="email" placeholder="Email address" required="required" />
            <br>
            <br>
            <br>
            <br>
            <input type="submit" value="Submit" class="button" />
            <br>
            <br>
            <input type="submit" value="Main menu" class="button" />

        </div>

    </div>

</form>

<p id="footnote">
    <br />
    Copright &copy; - Michal Dobiezynski   2019
</p>
</body>

</html>