<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="main.css" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="sidenav">
    <br>
    <br>
    <a href="#">Profile</a>
    <br>
    <a href="#">Bookings</a>
    <br>
    <a href="#">Map</a>
    <br>
    <a href="#">Help</a>
    <br>
    <a href="#">Logout</a>
    <br>
</div>

<p id="title">WoodMac Parking</p>

<form action="/accounts/delete" method="POST" th:object="${account}">
    <div class="Box">


        <div class="fieldSection2">
            <h2 id="cb">Delete Account</h2>
            <br>
            <p id="deleteAccMsg" th:text="${message}"></p>
            <br>
            <br>
            <p>Which account?</p>
            <select id="accountName" name="accountName" th:field="${account.idUser}">
                <option value=0 selected="selected" ></option>
                <option th:each="account : ${allAcc}" th:text="${account.email}"
                        th:value="${account.idUser}" value="XXX">account</option>
            </select>
            </p>
            <br>
            <br>
            <input type="submit" value="Submit" class="button2" />
            <br>
            <br>
            <input type="button" value="Main menu" class="button2" />

        </div>

    </div>

</form>

<p id="footnote">
    <br />
    Copright &copy; - Michal Dobiezynski   2019
</p>

</body>

</html>