<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
</head>
<body>

<div class="sidenav">
    <br>
    <br>
    <a href="#">Profile</a>
    <br>
    <a href="#">Bookings</a>
    <br>
    <a href="#">Map</a>
    <br>
    <a href="#">Help</a>
    <br>
    <a href="#">Logout</a>
    <br>
</div>

<p id="title">Using WoodMac Parking</p>
<p id="ruleTxt"> This is a parking application for Wood Mackenzie Edinburgh office.</p>
<p id="ruleTxt"> If you would like to gain access, please email Facilities Manager of Edinburgh office.</p>
<br>
<br>
<p id="ruleTxtBold"> The following are the rules for users of this application: </p>
<p id="ruleTxt"> 1. You have to have an account to book a space.</p>
<p id="ruleTxt"> 2. You can only book one space per week. *</p>
<p id="ruleTxt"> 3. You can only book a space one day in advance. *</p>
<p id="ruleTxt"> 4. If spaces on the map have green background it means they are free.</p>
<p id="ruleTxt"> 5. If spaces on the map have red background it means they are booked.</p>
<p id="ruleTxt"> 6. You can book a space via the map by clicking on a space with green background.</p>
<br>
<p id="ruleTxt"> *  Under certain circumstances you can acquire a fixed space which you can use everyday without a need to book it.
    To find out more, please email Facilities Manager of Edinburgh office.</p>
<br>


<p id="footnote">
    <br />
    Copright &copy; - Michal Dobiezynski   2019
</p>
</body>

</html>