<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
    </head>
</head>
<body>
<img id="logo" src="logo.png" th:src="@{images/logo.png}"/>

<form name="f" th:action="@{/login}" method="POST">

    <input type="username" id="userLogin" name="username"  th:placeholder="Username"
            required="required"/>
    <br>
    <br>
    <input type="password"  th:placeholder="Password"
           id="userPassword" name="password"
           required="required"/>
    <br>
    <div th:if="${param.error}" class="alert alert-error">
        Invalid username and password.
    </div>
    <br>
    <input type="submit" value="Login" class="loginButtons" />
    <br>
    <br>
    <br>
    <input type="button" value="Help" class="loginButtons" />
    <br>
    <br>
    <br>
    <input type="button" value="Exit" class="loginButtons" />

</form>
</body>
</html>