<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
    <script>
        function checkParking() {

            document.getElementById("bookingSpaceUser").style.display = "none";
            document.getElementById("bookingSpaceId").style.display = "none";
            document.getElementById("bookingSpaceUser2").style.display = "none";
            document.getElementById("bookingSpaceId2").style.display = "none";
            document.getElementById("bookingSpaceUser3").style.display = "none";
            document.getElementById("bookingSpaceId3").style.display = "none";
            document.getElementById("bookingSpaceUser4").style.display = "none";
            document.getElementById("bookingSpaceId4").style.display = "none";
            document.getElementById("bookingSpaceUser5").style.display = "none";
            document.getElementById("bookingSpaceId5").style.display = "none";
            document.getElementById("bookingSpaceUser6").style.display = "none";
            document.getElementById("bookingSpaceId6").style.display = "none";
            document.getElementById("bookingSpaceUser7").style.display = "none";
            document.getElementById("bookingSpaceId7").style.display = "none";
            document.getElementById("bookingSpaceUser8").style.display = "none";
            document.getElementById("bookingSpaceId8").style.display = "none";
            document.getElementById("bookingSpaceUser9").style.display = "none";
            document.getElementById("bookingSpaceId9").style.display = "none";
            document.getElementById("bookingSpaceUser10").style.display = "none";
            document.getElementById("bookingSpaceId10").style.display = "none";
            document.getElementById("bookingSpaceUser11").style.display = "none";
            document.getElementById("bookingSpaceId11").style.display = "none";
            document.getElementById("bookingSpaceUser12").style.display = "none";
            document.getElementById("bookingSpaceId12").style.display = "none";
            document.getElementById("bookingSpaceUser13").style.display = "none";
            document.getElementById("bookingSpaceId13").style.display = "none";
            document.getElementById("bookingSpaceUser14").style.display = "none";
            document.getElementById("bookingSpaceId14").style.display = "none";
            document.getElementById("bookingSpaceUser15").style.display = "none";
            document.getElementById("bookingSpaceId15").style.display = "none";


                var str = document.getElementById("a1space");

                if (str.innerText == "red") {
                    document.getElementById("a1").style.backgroundColor = 'red';
                }

                if (str.innerText == "green"){
                    document.getElementById("a1").style.backgroundColor = 'green';
                }

                document.getElementById("a1space").style.display = 'none';

            var str2 = document.getElementById("a2space");

            if (str2.innerText == "red") {
                document.getElementById("a2").style.backgroundColor = 'red';
            }

            if (str2.innerText == "green"){
                document.getElementById("a2").style.backgroundColor = 'green';
            }
            document.getElementById("a2space").style.display = 'none';

            var str3 = document.getElementById("a3space");

            if (str3.innerText == "red") {
                document.getElementById("a3").style.backgroundColor = 'red';
            }

            if (str3.innerText == "green"){
                document.getElementById("a3").style.backgroundColor = 'green';
            }

            document.getElementById("a3space").style.display = 'none';


            var str4 = document.getElementById("a4space");

            if (str4.innerText == "red") {
                document.getElementById("a4").style.backgroundColor = 'red';
            }

            if (str4.innerText == "green"){
                document.getElementById("a4").style.backgroundColor = 'green';
            }
            document.getElementById("a4space").style.display = 'none';


            var str5 = document.getElementById("a5space");

            if (str5.innerText == "red") {
                document.getElementById("a5").style.backgroundColor = 'red';
            }

            if (str5.innerText == "green"){
                document.getElementById("a5").style.backgroundColor = 'green';
            }
            document.getElementById("a5space").style.display = 'none';


            var str6 = document.getElementById("a6space");

            if (str6.innerText == "red") {
                document.getElementById("a6").style.backgroundColor = 'red';
            }

            if (str6.innerText == "green"){
                document.getElementById("a6").style.backgroundColor = 'green';
            }
            document.getElementById("a6space").style.display = 'none';


            var str7 = document.getElementById("a7space");

            if (str7.innerText == "red") {
                document.getElementById("a7").style.backgroundColor = 'red';
            }

            if (str7.innerText == "green"){
                document.getElementById("a7").style.backgroundColor = 'green';
            }

            document.getElementById("a7space").style.display = 'none';


            var str8 = document.getElementById("a8space");

            if (str8.innerText == "red") {
                document.getElementById("a8").style.backgroundColor = 'red';
            }

            if (str8.innerText == "green"){
                document.getElementById("a8").style.backgroundColor = 'green';
            }
            document.getElementById("a8space").style.display = 'none';


            var str9 = document.getElementById("a9space");

            if (str9.innerText == "red") {
                document.getElementById("a9").style.backgroundColor = 'red';
            }

            if (str9.innerText == "green"){
                document.getElementById("a9").style.backgroundColor = 'green';
            }
            document.getElementById("a9space").style.display = 'none';


            var str10 = document.getElementById("a10space");

            if (str10.innerText == "red") {
                document.getElementById("a10").style.backgroundColor = 'red';
            }

            if (str10.innerText == "green"){
                document.getElementById("a10").style.backgroundColor = 'green';
            }
            document.getElementById("a10space").style.display = 'none';


            var str11 = document.getElementById("a11space");

            if (str11.innerText == "red") {
                document.getElementById("a11").style.backgroundColor = 'red';
            }

            if (str11.innerText == "green"){
                document.getElementById("a11").style.backgroundColor = 'green';
            }
            document.getElementById("a11space").style.display = 'none';


            var str12 = document.getElementById("a12space");

            if (str12.innerText == "red") {
                document.getElementById("a12").style.backgroundColor = 'red';
            }

            if (str12.innerText == "green"){
                document.getElementById("a12").style.backgroundColor = 'green';
            }
            document.getElementById("a12space").style.display = 'none';


            var str13 = document.getElementById("a13space");

            if (str13.innerText == "red") {
                document.getElementById("a13").style.backgroundColor = 'red';
            }

            if (str13.innerText == "green"){
                document.getElementById("a13").style.backgroundColor = 'green';
            }
            document.getElementById("a13space").style.display = 'none';


            var str14 = document.getElementById("a14space");

            if (str14.innerText == "red") {
                document.getElementById("a14").style.backgroundColor = 'red';
            }

            if (str14.innerText == "green"){
                document.getElementById("a14").style.backgroundColor = 'green';
            }
            document.getElementById("a14space").style.display = 'none';


            var str15 = document.getElementById("a15space");

            if (str15.innerText == "red") {
                document.getElementById("a15").style.backgroundColor = 'red';
            }

            if (str15.innerText == "green"){
                document.getElementById("a15").style.backgroundColor = 'green';
            }
            document.getElementById("a15space").style.display = 'none';


        }

    </script>
</head>

<body onload="checkParking()">

<table>
    <tbody>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

    </tr>
    <tr>
        <td></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="a6">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId6" name="bookingSpaceId6" th:field="${booking.space}">
                    <option th:value="${6}" selected="selected" >Space</option>
                    <option th:text="${6}"
                            th:value="${6}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser6" name="bookingSpaceUser6" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A6.png}" alt="Submit Form" />
            </form>
        </td>
        <td id="a7">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId7" name="bookingSpaceId7" th:field="${booking.space}">
                    <option th:value="${7}" selected="selected" >Space</option>
                    <option th:text="${7}"
                            th:value="${7}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser7" name="bookingSpaceUser7" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A7.png}" alt="Submit Form" />
            </form>
        </td>
        <td id="a8">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId8" name="bookingSpaceId8" th:field="${booking.space}">
                    <option th:value="${8}" selected="selected" >Space</option>
                    <option th:text="${8}"
                            th:value="${8}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser8" name="bookingSpaceUser8" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A8.png}" alt="Submit Form" />
            </form>
        </td>
        <td id="a9">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId9" name="bookingSpaceId9" th:field="${booking.space}">
                    <option th:value="${9}" selected="selected" >Space</option>
                    <option th:text="${9}"
                            th:value="${9}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser9" name="bookingSpaceUser9" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A9.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="a5">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId5" name="bookingSpaceId5" th:field="${booking.space}">
                    <option th:value="${5}" selected="selected" >Space</option>
                    <option th:text="${5}"
                            th:value="${5}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser5" name="bookingSpaceUser5" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A5.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="a4">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId4" name="bookingSpaceId4" th:field="${booking.space}">
                    <option th:value="${4}" selected="selected" >Space</option>
                    <option th:text="${4}"
                            th:value="${4}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser4" name="bookingSpaceUser4" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A4.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td id="a12">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId12" name="bookingSpaceId12" th:field="${booking.space}">
                    <option th:value="${12}" selected="selected" >Space</option>
                    <option th:text="${12}"
                            th:value="${12}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser12" name="bookingSpaceUser12" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A12.png}" alt="Submit Form" />
            </form>
        </td>
        <td id="a11">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId11" name="bookingSpaceId11" th:field="${booking.space}">
                    <option th:value="${11}" selected="selected" >Space</option>
                    <option th:text="${11}"
                            th:value="${11}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser11" name="bookingSpaceUser11" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A11.png}" alt="Submit Form" />
            </form>
        </td>
        <td id="a10">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId10" name="bookingSpaceId10" th:field="${booking.space}">
                    <option th:value="${10}" selected="selected" >Space</option>
                    <option th:text="${10}"
                            th:value="${10}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser10" name="bookingSpaceUser10" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A10.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="a3">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId3" name="bookingSpaceId3" th:field="${booking.space}">
                    <option th:value="${3}" selected="selected" >Space</option>
                    <option th:text="${3}"
                            th:value="${3}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser3" name="bookingSpaceUser3" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A3.png}" alt="Submit Form" />
            </form>

        </td>
        <td>&nbsp;</td>
        <td id="a13">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId13" name="bookingSpaceId13" th:field="${booking.space}">
                    <option th:value="${13}" selected="selected" >Space</option>
                    <option th:text="${13}"
                            th:value="${13}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser13" name="bookingSpaceUser13" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A13.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="a2">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId2" name="bookingSpaceId2" th:field="${booking.space}">
                    <option th:value="${2}" selected="selected" >Space</option>
                    <option th:text="${2}"
                            th:value="${2}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser2" name="bookingSpaceUser2" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A2.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td id="a14">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId14" name="bookingSpaceId14" th:field="${booking.space}">
                    <option th:value="${14}" selected="selected" >Space</option>
                    <option th:text="${14}"
                            th:value="${14}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser14" name="bookingSpaceUser14" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A14.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td id="a1">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId" name="bookingSpaceId" th:field="${booking.space}">
                    <option th:value="${1}" selected="selected" >Space</option>
                    <option th:text="${1}"
                            th:value="${1}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser" name="bookingSpaceUser" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A1.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td id="a15">
            <form action="/bookings/new" method="POST" th:object="${booking}">
                <select id="bookingSpaceId15" name="bookingSpaceId15" th:field="${booking.space}">
                    <option th:value="${15}" selected="selected" >Space</option>
                    <option th:text="${15}"
                            th:value="${15}" value="XXX">space</option>
                </select>
                <select id="bookingSpaceUser15" name="bookingSpaceUser15" th:field="${booking.user}">
                    <option th:value="${id}" selected="selected" >User</option>
                    <option th:text="${id}"
                            th:value="${id}" value="XXX">user</option>
                </select>
                <input class="gallery__img" type="image" th:src="@{images/A15.png}" alt="Submit Form" />
            </form>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

    </tr>

    </tbody>
</table>


<p id="a1space"> <span th:text="${space1}"> message</span> </p>
<p id="a2space"> <span th:text="${space2}"> message</span> </p>
<p id="a3space"> <span th:text="${space3}"> message</span> </p>
<p id="a4space"> <span th:text="${space4}"> message</span> </p>
<p id="a5space"> <span th:text="${space5}"> message</span> </p>
<p id="a6space"> <span th:text="${space6}"> message</span> </p>
<p id="a7space"> <span th:text="${space7}"> message</span> </p>
<p id="a8space"> <span th:text="${space8}"> message</span> </p>
<p id="a9space"> <span th:text="${space9}"> message</span> </p>
<p id="a10space"> <span th:text="${space10}"> message</span> </p>
<p id="a11space"> <span th:text="${space11}"> message</span> </p>
<p id="a12space"> <span th:text="${space12}"> message</span> </p>
<p id="a13space"> <span th:text="${space13}"> message</span> </p>
<p id="a14space"> <span th:text="${space14}"> message</span> </p>
<p id="a15space"> <span th:text="${space15}"> message</span> </p>

<div class="sidenav">
    <br>
    <br>
    <a href="#">Profile</a>
    <br>
    <a href="#">Bookings</a>
    <br>
    <a href="#">Map</a>
    <br>
    <a href="#">Help</a>
    <br>
    <a href="#">Logout</a>
    <br>
</div>

</body>
</html>