<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <link rel="stylesheet" href="main.css" th:href="@{css/main.css}"/>
<!--    <script>-->
<!--        function changeAreas() {-->
<!--                 // document.getElementById("map").style.backgroundColor = 'red';-->

<!--        }-->

<!--    </script>-->
</head>

<!--<body onload="changeAreas()">-->
<body>



<table>
    <tbody>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

    </tr>
    <tr>
        <td></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><img src="A6.png" class="gallery__img" th:src="@{images/A6.png}"/></td>
        <td><img src="A7.png" class="gallery__img" th:src="@{images/A7.png}"/></td>
        <td><img src="A8.png" class="gallery__img" th:src="@{images/A8.png}"/></td>
        <td><img src="A9.png" class="gallery__img" th:src="@{images/A9.png}"/></td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><img src="A5.png" class="gallery__img" th:src="@{images/A5.png}"/></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><img src="A4.png" class="gallery__img" th:src="@{images/A4.png}"/></td>
        <td>&nbsp;</td>
        <td><img src="A12.png" class="gallery__img" th:src="@{images/A12.png}"/></td>
        <td><img src="A11.png" class="gallery__img" th:src="@{images/A11.png}"/></td>
        <td><img src="A10.png" class="gallery__img" th:src="@{images/A10.png}"/></td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><img src="A3.png" class="gallery__img" th:src="@{images/A3.png}"/></td>
        <td>&nbsp;</td>
        <td><img src="A13.png" class="gallery__img" th:src="@{images/A13.png}"/></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><img src="A2.png" class="gallery__img" th:src="@{images/A2.png}"/></td>
        <td>&nbsp;</td>
        <td><img src="A14.png" class="gallery__img" th:src="@{images/A14.png}"/></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>


    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><img src="A1.png" class="gallery__img" th:src="@{images/A1.png}"/></td>
        <td>&nbsp;</td>
        <td><img src="A15.png" class="gallery__img" th:src="@{images/A15.png}"/></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

    </tr>

    </tbody>
</table>

<div class="sidenav">
    <br>
    <br>
    <a href="#">Profile</a>
    <br>
    <a href="#">Bookings</a>
    <br>
    <a href="#">Map</a>
    <br>
    <a href="#">Help</a>
    <br>
    <a href="#">Logout</a>
    <br>
</div>

</body>
</html>